#App{
  width: 500px;
  height: 500px;
  background-color: green;
  border: 3px solid black;
  border-radius: 50px;
  transition: all .5s ease;
}

#children{
  width: 200px;
  height: 200px;
  background-color: red;
}